<script lang="ts">
	import axios from 'axios';
	import type FibResponse from '../types/FibResponse';

	let FIBONACCI_URL = window.location.href;

	let allfibs = new Map<number, number>();

	const getAllFibs = async () => {
		const { data, status } = await axios.get<FibResponse>(FIBONACCI_URL + 'api/allFibs', {
			headers: {
				Accept: 'application/json'
			}
		});
		if (status == 200) {
			data.index.forEach((val, index) => {
				allfibs.set(val, data.value[index]);
			});
			allfibs = new Map(allfibs);
		} else {
			console.log('Error Occured getting all fibs!');
			console.log(status);
			console.log(data);
			throw new Error('Internal Services are not working as expected');
		}
	};

	let errorMessage = '';
	let successMessage = '';
	let fibToBeCalculated = 0;

	const getFib = async () => {
		const { data, status } = await axios.get<Number>(
			FIBONACCI_URL + 'api/' + fibToBeCalculated,
			{
				headers: {
					Accept: 'application/json'
				}
			}
		);

		if (status == 200) {
			successMessage = 'Result is : ' + data;
			setTimeout(() => (successMessage = ''), 2000);
		} else {
			errorMessage = 'Backend is not working as expected!';
			setTimeout(() => (errorMessage = ''), 2000);
		}
	};

	const handleClick = async () => {
		await getAllFibs();
	};

	const resetAll = async () => {
		axios
			.get(FIBONACCI_URL + 'api/reset')
			.then(() => {
				console.log('Resting state');
				allfibs = new Map();
			})
			.catch((err) => {
				console.log('Backend Failed to reset state, Please try again later');
			});
	};
</script>

{#if allfibs.size === 0}
	<h1>Fib Calculator Version v1</h1>
	<h1>No Values!</h1>{:else}
	<table>
		<th> Index </th>
		<th> Values </th>
		{#each [...allfibs] as [key, value]}
			<tr>
				<td>{key}</td>
				<td>{value}</td>
			</tr>
		{/each}
	</table>
	<br />
{/if}
<button on:click={handleClick}> Get All Fibs </button>

<input
	bind:value={fibToBeCalculated}
	placeholder="Which index to calculate?"
	type="number"
	min="1"
	max="100"
/>
<button on:click={getFib}>Calculate Fib</button>

{#if errorMessage !== ''}
	<h3 color="lightred">{errorMessage}</h3>
{/if}
{#if successMessage !== ''}
	<h3 color="darkgreen">{successMessage}</h3>
{/if}

<button on:click={resetAll}>Reset all!</button>
